.app {
  text-align: center;
}
.about {
  border: 1px solid black;
  height: 500px;
  width: 800px;
  margin: auto;
  padding: 20px;
}
.blog {
  border: 1px solid black;
  height: 500px;
  width: 800px;
  margin: auto;
  padding: 20px;
 
}
.projects {
  height: 500px;
  width: 800px;
  margin: auto;
  padding: 20px;
}
.crawpic {
  width: 450px;
}